div{
    padding-left: 20px;
}
.card{
    width: 200px;
    height: 300px;
    background-color: rgb(245, 245, 245);
    border: solid 1px rgb(218, 217, 217);
    border-radius: 10%;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    margin-bottom: 30px;
    float: left;
    padding: 50px;
    margin-left: 15px;
}
#imageProfil{
    border-radius: 50%;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
#nametext{
    font-weight: bolder;
}
#idtext{
    font-style: inherit;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    color: gray;
}
hr{
    border: 0.5px solid rgb(218, 217, 217);
}
.buttondiv{
    float: left;
    padding-left: 20%;
}
button{
    border: none;
    border-radius: 10%;
    color: rgb(221, 215, 215);
    margin: 10px;
}
.btnEdit{
    background-color: rgb(58, 57, 57);
}
.btnEdit:hover{
    background-color: black;
    color: white;
}
.btnDel{
    background-color: rgb(204, 53, 53);
}
.btnDel:hover{
    background-color: red;
    color: white;
}